{
  "extends": ["plugin:jsx-a11y/recommended", "eslint:recommended"],
  "globals": {
    "React": "readonly"
  },
  "plugins": ["jsx-a11y"],
  "rules": {
    "no-unused-vars": [1, { "args": "after-used", "argsIgnorePattern": "^_" }]
  },
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      }
    }
  ]
}
