---
import Layout from '../layouts/Layout.astro'
import NavBar from '../components/NavBar.astro'
import Header from '../components/Header.astro'
import Tabs from '../components/Tabs.astro'
import Cards from '../components/Cards.astro'
import Toolbox from '../components/Toolbox.astro'
---

<Layout title="Software Engineer | Jacob Gonzalez">
  <NavBar />
  <main>
    <Header />
    <Tabs />
    <Cards />
    <Toolbox />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
  }
</style>
