---
import Layout from '../layouts/Layout.astro'
import NavBar from '../components/NavBar.astro'
import Header from '../components/Header.astro'
import Tabs from '../components/Tabs.astro'
---

<Layout title="Software Engineer | Jacob Gonzalez">
  <main class="flex flex-col">
    <NavBar />
    <Header />
    <Tabs />
  </main>
</Layout>
