<footer>
  <div>
    <p>Designed & built by Jacob Gonzalez</p>
  </div>
</footer>

<style>
  footer {
    padding-block: var(--size-4);
    padding-inline: var(--size-4);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--gray-5);
  }

  p {
    width: 100%;
    color: var(--gray-8);
    font-size: var(--font-size-1);
  }

  div {
    width: 100%;
    max-width: var(--size-lg);
  }
</style>
