---
import ScrollDown from './icons/scroll-down.astro'

const socialNetworks = [
  {
    name: 'Github',
    url: 'https://github.com/njacob1001',
  },
  {
    name: 'Linkedin',
    url: 'https://www.linkedin.com/in/njacob1001/',
  },
  {
    name: 'Medium',
    url: 'https://medium.com/@njacob1001',
  },
]
---

<header class="h-screen relative flex flex-col items-center justify-center">
  <h1
    class="Title grow flex items-end bg-clip-text text-transparent font-black uppercase leading-none bg-gradient-to-r from-lime-500 via-cyan-500 to-fuchsia-500 background-animate"
  >
    Jacob
    <br />
    Gonzalez
  </h1>
  <h2
    class="Subtitle absolute w-[22vw] font-bold text-gray-600 text-sub-header"
  >
    Software engineer innovate solutions for complex challenges an it could be
    awesome lets do it, maybe could be better option than others
  </h2>

  <div class="grow flex flex-row items-end">
    <div class="flex flex-col items-center">
      <ScrollDown />
      <nav class="pb-8">
        <ul class="flex flex-row gap-4">
          {
            socialNetworks.map((item) => (
              <li class="underline">
                <a href={item.url}>{item.name}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>

<style lang="scss">
  h1 {
    -webkit-background-clip: text;
  }

  .Title {
    font-size: clamp(1.5rem, 13vw, 60rem);
    @media screen and (max-width: 1024px) {
      font-size: clamp(1.5rem, 16vw, 60rem);
    }
  }

  .Subtitle {
    font-size: clamp(1rem, 1.3vw, 6.24rem);
    top: 50%;
    transform: translateY(-160%);
    left: 64vw;
    @media screen and (max-width: 1024px) {
      font-size: clamp(1rem, 1.7vw, 60rem);
      transform: translateY(-170%);
      width: 30vw;
    }
    @media screen and (max-width: 768px) {
      position: initial;
      top: initial;
      transform: initial;
      align-self: flex-start;
      padding-inline: 2rem;
      padding-block-start: 2rem;
      font-size: 1.2rem;
      width: 100%;
    }

    @media screen and (min-width: 1964px) {
      border: solid 1px red;
      transform: translateY(-140%);
    }
  }

  .background-animate {
    background-size: 300%;
    -webkit-animation: AnimationName 38s ease infinite;
    -moz-animation: AnimationName 38s ease infinite;
    animation: AnimationName 38s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
</style>
