---
import ScrollDown from './icons/scroll-down.astro'

const socialNetworks = [
  {
    name: 'Github',
    url: 'https://github.com/njacob1001',
  },
  {
    name: 'Linkedin',
    url: 'https://www.linkedin.com/in/njacob1001/',
  },
  {
    name: 'Medium',
    url: 'https://medium.com/@njacob1001',
  },
]
---

<header>
  <h1>
    Jacob
    <br />
    Gonzalez
  </h1>
  <h2>
    Software engineer innovate solutions for complex challenges an it could be
    awesome lets do it, maybe could be better option than others
  </h2>

  <div class="expando">
    <div class="center-column">
      <ScrollDown />
      <nav>
        <ul>
          {
            socialNetworks.map((item) => (
              <li>
                <a href={item.url}>{item.name}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>

<style lang="scss">
  header {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    background-clip: text;
    color: transparent;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    background-image: linear-gradient(
      to bottom right,
      #84cc16,
      #06b6d4,
      #d946ef
    );
    font-size: clamp(1.5rem, 13vw, 60rem);
    background-size: 300%;
    animation: ColorTitleAnimation 38s ease infinite;
    @media screen and (max-width: 1024px) {
      font-size: clamp(1.5rem, 16vw, 60rem);
    }
  }

  h2 {
    color: var(--gray-7);
    position: absolute;
    width: 22vw;
    font-weight: 700;
    font-size: clamp(1rem, 1.3vw, 6.24rem);
    top: 50%;
    transform: translateY(-180%);
    left: 64vw;
    @media screen and (max-width: 1024px) {
      font-size: clamp(1rem, 1.7vw, 60rem);
      transform: translateY(-170%);
      width: 30vw;
    }
    @media screen and (max-width: 768px) {
      position: initial;
      top: initial;
      transform: initial;
      align-self: flex-start;
      padding-inline: 2rem;
      padding-block-start: 2rem;
      font-size: 1.2rem;
      width: 100%;
    }

    @media screen and (min-width: 1964px) {
      transform: translateY(-140%);
    }
  }

  .expando {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
  }

  .center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    padding-bottom: var(--size-7);
  }

  ul {
    display: flex;
    gap: var(--size-3);
  }

  a {
    text-decoration-line: underline;
  }

  @keyframes ColorTitleAnimation {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
</style>
