<header
  class="h-header relative flex flex-row items-center justify-center pb-24"
>
  <h1
    class="bg-clip-text text-transparent text-header font-black uppercase leading-none bg-gradient-to-r from-pink-500 to-violet-500"
  >
    Jacob
    <br />
    Gonzalez
  </h1>
  <h2 class="absolute w-96 text-2xl font-bold Header-subtitle text-gray-600">
    Software engineer innovate solutions for complex challenges an it could be
    awesome lets do it, maybe could be better option than others
  </h2>
</header>

<style>
  h1 {
    -webkit-background-clip: text;
  }
  .Header-subtitle {
    top: 15rem;
    left: 62vw;
  }
</style>
