---
const items = [
  {
    title: 'Work',
    description: "I'm a software engineer at a startup in San Francisco.",
    link: '#work',
  },
  {
    title: 'Skills',
    description: "I'm a software engineer at a startup in San Francisco.",
    link: '#skills',
  },
  {
    title: 'Tools',
    link: '#tools',
  },
  {
    title: 'Blog',
    link: '#blog',
  },
  {
    title: 'Projects',
    link: '/projects',
  },
]
---

<nav
  id="navbar"
  class="flex flex-row bg-clip-padding justify-center bg-white bg-opacity-80 backdrop-blur-md backdrop-saturate-150 fixed top-0 left-0 right-0 z-10 py-4 duration-300 ease-in"
>
  <ul class="flex flex-row items-center">
    {
      items.map(({ title, link }, index) => (
        <>
          <li class="mr-4">
            <a
              href={link}
              class="text-slate-800 px-6 py-2 block float-left text-lg font-medium"
            >
              {title}
            </a>
          </li>
          {index < items.length - 1 && (
            <li class="mr-4">
              <div class="h-4 w-[1px] bg-slate-800" />
            </li>
          )}
        </>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  nav {
    @media screen and (max-width: 650px) {
      visibility: hidden;
    }
  }
</style>

<!-- 
<script>
  let timer: number
  let scrolling = false
  window.addEventListener('scroll', () => {
    if (!scrolling) {
      document.getElementById('navbar')?.classList.add('shadow-header')
    }
    scrolling = true
    clearTimeout(timer)
    timer = window.setTimeout(function () {
      scrolling = false
      document.getElementById('navbar')?.classList.remove('shadow-header')
    }, 1)
  })
</script> -->
