---
const skills = [
  {
    id: 'front-end',
    label: 'Front end',
    text: "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English",
  },
  {
    id: 'backend-end',
    label: 'Back end',
    text: ".It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English",
  },
  {
    id: 'devops',
    label: 'DevOps',
    text: "saIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English",
  },
  {
    id: 'machine-learning',
    label: 'Machine Learning',
    text: "21It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English",
  },
  {
    id: 'teamwork',
    label: 'Teamwork',
    text: "0000000It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English",
  },
]
---

<section
  class="flex flex-col items-center justify-center min-h-screen bg-slate-300 bg-gradient-to-r from-sky-600 to-green-600"
>
  <div class="grow w-full max-w-7xl flex flex-col">
    <h2 class="self-start text-7xl font-black uppercase my-14 text-white mx-8">
      Skills
    </h2>
    <div class="relative bg-white flex flex-col mx-8 self-stretch md:gap-4">
      {
        skills.map(({ label, text, id }, index) => (
          <details id={id}>
            <summary>
              <div class="relative w-1/5 p-4 before:contents before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:bg-black">
                <span class="text-white relative z-10 font-bold">{label}</span>
              </div>
            </summary>
            <div class="absolute w-4/5 top-0 right-0 bottom-0 flex justify-center items-center">
              <p class="max-w-[500px]">{text}</p>
            </div>
          </details>
        ))
      }
    </div>
  </div>
</section>

<script>
  const firstItem = document.getElementsByTagName('details').item(0)
  firstItem?.setAttribute('open', 'true')

  const clickHandler =
    (clicked: HTMLDetailsElement, nodes: NodeListOf<HTMLDetailsElement>) =>
    (e: MouseEvent) => {
      e.preventDefault()
      nodes.forEach((item) => {
        if (item.id !== clicked.id) {
          item.removeAttribute('open')
        } else {
          item.setAttribute('open', 'true')
        }
      })
    }

  document.querySelectorAll('details').forEach((currentItem, _, arr) => {
    currentItem.addEventListener('click', clickHandler(currentItem, arr))
  })
</script>

<style lang="scss"></style>
