---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      async="false"
      type="text/javascript"
      src="https://rawgit.com/patriciogonzalezvivo/glslCanvas/master/dist/GlslCanvas.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap"
      rel="stylesheet"
    />

    <meta
      name="description"
      content="As a Senior Software Engineer with 8 years of diverse experience, I have had the opportunity to work in various domains, including travel, low-code platforms, digital transformation, mobile app development, and video game design. Skilled in languages like Kotlin, TypeScript, and Golang, I have developed a strong foundation in Agile methodologies and DevOps practices. My adaptability to new technologies, combined with my commitment to delivering quality software solutions, allows me to contribute effectively to any team seeking a dedicated and collaborative Senior Software Engineer."
    />

    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jacobgonzalez.dev" />
    <meta
      property="og:description"
      content="As a Senior Software Engineer with 8 years of diverse experience, I have had the opportunity to work in various domains, including travel, low-code platforms, digital transformation, mobile app development, and video game design. Skilled in languages like Kotlin, TypeScript, and Golang, I have developed a strong foundation in Agile methodologies and DevOps practices. My adaptability to new technologies, combined with my commitment to delivering quality software solutions, allows me to contribute effectively to any team seeking a dedicated and collaborative Senior Software Engineer."
    />
    <meta property="og:image" content="/assets/ogimage.png" />
    <meta property="og:site_name" content={title} />
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0QCYRP2X2V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0QCYRP2X2V');
</script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import 'open-props/normalize';
  @import 'open-props/sizes';
  @import 'open-props/stone';
  @import 'open-props/gray';
  @import 'open-props/gray-hsl';
  @import 'open-props/zindex';
  @import 'open-props/fonts';

  :root {
    --size-xxs: 240px;
    --size-xs: 360px;
    --size-sm: 480px;
    --size-md: 768px;
    --size-lg: 1024px;
    --size-xl: 1440px;
    --size-xxl: 1920px;

    --font-size-9: 4.5rem;
    --fluid-font-size-9: clamp(2rem, 8vw, 4.5rem);
  }

  html {
    box-sizing: border-box;
    font-size: 16px;
    overflow-y: auto;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol,
  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  a:visited {
    color: inherit;
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: var(--gray-0);
  }

  details,
  summary {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
  }
  details summary::-webkit-details-marker {
    display: none;
  }
  summary {
    display: flex;
  }
</style>
